/*
 * colorA: #155765 (blue)
 * colorB: #57652A (olive)
 * colorC: #402C3D (plum)
 * colorD: #AB9353 (tan)
 */

body {
  font-family: Verdana, Arial;
}
/* I also like Palatino */

.left-on-mobile {
  text-align: center;
}

@media (max-width: 992px) {
  .left-on-mobile {
    text-align: left;
  }
}

.bg-light {
  background-color: white !important;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.3em;
}


/* CONTACT */

.contactimages img {
  height: 2.4rem;
  padding: 0.375rem 0.75rem;
}

/* LINKS */

a {
  color: #155765;
  text-decoration: underline;
}

a:hover {
  color: #155765;
  text-decoration: none;
}

a.post-title {
  color: default;
}

a.post-tags {
  color: gray;
}

h1 a {
  text-decoration: none;
}

/* NAVBAR */

.navbar-brand, .navbar-brand:hover, .nav-link {
  text-decoration: none;
  color: #155765;
}

.navbar-nav .btn {
  text-align: left;
  padding: 0px;
  margin: 0px;
}

/* BUTTONS */

.btn-primary, .btn-primary:visited {
  color: #ffffff;
  background-color: #402C3D;
  text-decoration: none;
  border: 0px;
  padding: 1mm;
}

.btn-primary:hover, .btn-primary:active {
	background-color: #57652A;
}

/*
 * colorA: #155765 (blue)
 * colorB: #57652A (olive)
 * colorC: #402C3D (plum)
 * colorD: #AB9353 (tan)
 */


/* CARDS */

.card-title {
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: 1rem 1.25rem;
  margin: 0;
}

.card-body {
  margin: 0;
}

.card-footer {
  background-color: #ffffff;
  border-top: none;
}


/* CAROUSEL */

.carousel-item {
  height: 50vh;
  min-height: 400px;
}

.carousel-item-small {
  height: 35vh;
  min-height: 400px;
}

.carousel-caption {
  background: rgba(0,0,0,0.5);
  width: 100%;
  right: 0px;
  left: 0px;
}

.carousel-item-small .carousel-caption {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* SPECIAL PARAGRAPHS */

.post-date {
  color: gray;
}

.img-row span {
  vertical-align: center;
}

.caption {
  font-size: 0.75rem;
  text-align: center;
}

.next, .previous, .page_number {
  padding: 1mm;
}


/* POP-UPS  (jargon and footnotes) */
/* see http://hiphoff.com/creating-hover-over-footnotes-with-bootstrap/ */
/* see https://mdbootstrap.com/docs/jquery/javascript/popovers/ */

.jargon, .footnote {
  white-space: nowrap; /* prevent line-break... this corrects for weird centering of popovers */
}

.jargon {
  font-variant: small-caps;
}

body {
    counter-reset: footnotecounter;
}

.footnote:before {
  counter-increment: footnotecounter;
  content: "["counter(footnotecounter)"]";
  position: relative;
  top: -0.5em;
  font-size: 80%;
}

.twitter-tweet {
  margin: auto;
}

.sm-center {
  
}

.center {
  margin: auto;
}
