/* GLOBAL */

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: black;
}

p {
  padding: 1.5mm 0;
  margin: 0;
}

ul {
  margin: 2mm 0;
}
li {
  margin: 1mm 0;
}
.clear {
  clear: both;
}
h1 {
  font-size: 24pt;
  color: #155765;
  padding: 2mm 0;
  margin: 0;
}

h2 {
  font-size: 18pt;
  color: #4d2c3d;
  padding: 2mm 0;
  margin: 0;
}
h3 {
  color: black;
  padding: 0;
  margin: 0;
  font-size: 12pt;
  font-weight: bold;
}
a {
  color: #4d2c3d;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}

.blocklink a {
  color: white;
  display: inline-block;
  padding: 3mm;
  background-color: #4d2c3d;
  margin: 2mm 0 4mm 0;
}



.text-block {
  background-color: white;
}

/* WRAPPER */
.wrapper {
  position: relative;
  min-height: 100%;
  background-color: #155765;
  max-width: 35cm;
  margin: 0 auto;
  padding: 0;
}

/* Small screen: no wrapper */
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    min-width: 5mm;
  }
}

.body {
  padding-bottom: 23mm;
}
.maintext {
  margin: 0 0 15mm 0;
  padding: 2mm 5mm;
  overflow: auto;
}

/* TOP */

.banner-heading {
  background-color: #155765;
  color: white;
  text-align: center;
  width: 100%;
  padding: 3cm 0 1cm 0;
  font-size: 36pt;
  font-weight: bold;
}

/* Small screen: no bulk above banner */
@media only screen and (max-width: 600px) {
  .banner-heading {
    padding: 5mm 0;
  }
}

.white-strip {
  height: 5mm;
  background-color: white;
}

.menubox {
  background-color: #155765;
  color: white;
  text-align: center;
  margin: 1mm 0; 
}
.navigation { /* table */
  clear: both;
  max-width: 30cm;
  margin: 0 auto;
  text-align: center;
}
.navigation td {
  border: 2px #155765 solid;
  width: 20%;
}
.navigation td:hover {
  border: 2px white solid;
  /*border-style: ridge;*/
  width: 20%;
}
.navigation a, .banner-heading a {
  color: white;
  text-decoration: none;
  display: block;
  font-weight: bold;
  padding: 1mm 0;
}

/* IMAGES */

.image {
  width: 7cm;
  padding-top: 2mm;
}

.image-right {
  float: right;
  padding-left: 5mm;
  margin-right: 2mm;
}

.image-left {
  float: left;
  padding-right: 5mm;
}

/* Small screen: images centered */
@media only screen and (max-width: 600px) {
  .image img {
    width: 50%; 
  }
  .image-left, .image-right {
    float: none;
    margin: 0 auto;
  }
}

.image img {
  width: 100%;
  border: 1mm #57652a solid;
}

.caption {
  font-size: 10pt;
  text-align: center;
  padding: 2mm 0 4mm 0;
}

/* CONTACT */
.contactbox {
  width: 60%;
  margin: 0 0 10mm 0;
  display: block;
}
.contact-left {
  float: left;
  width: 30%;
  display: block;
}
.contact-right {
  float: right;
  width: 30%;
  display: block;
}

/* Small screen: no contact columns */
@media only screen and (max-width: 600px) {
  .contactbox, .contact-left, .contact-right {
    float: none;
    width: 100%;
  }
}

/* FOOTER */
.footbox {
  bottom: 0;
  height: 23mm;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 10pt;
  padding-top: 5mm;
}

.footnav {
}

.footcontact {
}

.footcontact img {
  height: 8mm;
  padding: 5mm 2mm;
}
