<div class="row">
	<div class="col">
		<p><a class="btn btn-primary" data-toggle="collapse" href="#prelim-research">Disclaimer: This is preliminary research</a></p>
		<div class="collapse" id="prelim-research">
			<p class="card card-body" style="padding: 2mm; margin-bottom: 3mm;">
				Hello! Like many things I post on this blog, this research is in very early stages. This means that I may have simplified some more complicated details. It also means I might just be wrong! So please take this information as an early hypothesis, not a solid fact. If you'd like to find out my up-to-date opinions on the topic, feel free to email me.
			</p>
		</div>
	</div>
</div>
