<div class="row text-center">
    <div class="col-md-3">
        <a class="btn btn-primary btn-sm mt-2" href="https://hcommons.org/members/mayhplumb/" target="_blank">
            <img height="17mm" src="/img/pub-links/humcom.png"/>  Humanities Commons
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-sm mt-2" href="https://scholar.google.com/citations?user=v7G9PhMAAAAJ" target="_blank">
            <img height="17mm" src="/img/pub-links/googlescholar.png"/>  Google Scholar
        </a>
    </div>
    <div class="col-md-3 text-center">
		<a class="btn btn-primary btn-sm mt-2" style="margin: 0;" href="https://www.ailla.utexas.org/islandora/object/ailla:257460" target="_blank">
            AILLA Collection
        </a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-sm mt-2" href="http://orcid.org/0000-0001-5178-080X" target="_blank">
            <img height="17mm" src="/img/pub-links/orcid.png"/>  ORCID
        </a>
    </div>
</div>