---
layout: default
---

<div class="row">
	<div class="col-lg-2 order-lg-2">
        <a class="btn btn-primary btn-sm mt-2" style="margin: 0;" href="/feed.xml" target="_blank">
            <img height="15mm" src="/blog/img/rss-feed.png"/>  Blog RSS Feed
        </a>
    </div>
    <div class="col-lg-10 order-lg-1">
        <h1><a href="/blog/">Embroidering Wugs</a></h1>
    </div>
</div>


<div class="row">
	<div class="col-sm-1">
    	<img class="img-fluid" src="/blog/img/wug.png"/>
    </div>
    <div class="col-sm-11">
    	A blog about linguistics and the beauty of language.<br>
    	Updates Tuesday and Thursday.<br>
    	What's a wug? <a target="_blank"title="The Wug Test on All Things Linguistic" href="https://allthingslinguistic.com/post/110211642372/the-wug-test">Look here.</a>
    </div>
</div>

<hr>

{{ content }}
