---
layout: blogpage
---

{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}

{% if site.categories != "" %}
  {% include collectcategories.html %}
{% endif %}

<div class="row">
	<div class="col-lg-12">
		
		<h2>{{ page.title }}</h2>
		{% if page.subtitle != nil %}
		<h3>{{ page.subtitle }}</h3>
		{% endif %}

		<p class="post-date">
			posted {{ page.date | date_to_string }} by {{ page.author }} | 
			tags: {% for tag in page.tags %} {% capture tag_name %}{{ tag }}{% endcapture %} <a class="post-tags" href="/blog/tag/{{ tag_name }}/">#{{ tag_name }}</a> {% endfor %}
		</p>

		{{ content }}

	</div>
</div>
